<table>
   <tr>
      <td>

         @if( isParaVisible === true) {
            <span>Sample</span>
            <p>This is a sample paragraph.</p>
         } @else {
            <small>Small tag</small>
            <h3>isParaVisible has false value</h3>
         }
      </td>

      <td>
         <button (click)="showP()">Show P</button>
      </td>
      <td>
         <button (click)="hideP()">Hide P</button>

      </td>

      
   </tr>

   <tr>
      <td>
         @if (startMonthName == 'jan') {
            <span>January</span>
         } @else if (startMonthName == 'feb') {
            <span>Feburary</span>
         }@else if (startMonthName == 'mar') {
            <span>March</span>
         }@else if (startMonthName == 'apr') {
            <span>April</span>
         }@else {
            <span>Wrong Input</span>
         }
      </td>

      <td>
         <input type="text" [(ngModel)]="startMonthName">
      </td>
   </tr>

   <tr>
      <td>
         <ul>
            @for (item of cityList; track $index) {
               <li>{{item}}</li>
            }
         </ul>
      </td>

      <td>
         <select name="" id="">
            @for (item of cityList; track $index) {
               <option value="">{{item}}</option>
            }
         </select>
      </td>
   </tr>
</table>

<br>
<table>
   <thead>
      <tr>
         <th>Sr No</th>
         <th>Name</th>
         <th>City</th>
         <th>Status</th>
      </tr>
   </thead>

   <tbody>
      @for (item of studentList; track $index) {
         <tr>
            <td>{{$index + 1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.city}}</td>
            <td>
               @if (item.isActive == true) {
                  <h6>Active</h6>

               } @else {
                  <h6>De-Active</h6>
               }
            </td>
         </tr>
      }

   </tbody>
</table>