<table style="width: 100%;">
  <tr>
    <td>
      {{courseName}}
    </td>

    <td>
      {{productPrice}}
    </td>

    <td>
      <span>{{courseName}}</span>
    </td>
    <td>
      <!-- {{fullName}} -->
    </td>
  </tr>

  <tr>
      <td>
         <input type="text" value="{{courseName}}">
      </td>

      <td>
         <input [type]="inputType" [max]="maxLength" [minLength]="minChar">
      </td>

      <td>
         <p [class]="myClassName">This is sample para</p>
      </td>
  </tr>
</table>
